@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  justify-content: center;
//   margin-bottom: 10px;
  height: 80px;
  background-color: aliceblue;
  
  .nav-link {
    font-size: medium;
    text-align: left;
  }
}
footer {
  display: flex;
  align-items: center;
  font-family: "Kanit", sans-serif;
  background-color: aliceblue;
  justify-content: center;
  height: 50px;
}
.container {
    padding: 30px;
    background-image: url("https://media.istockphoto.com/id/664975134/photo/sticky-note-post-it-board-office.jpg?s=612x612&w=0&k=20&c=jovP61sbit5hNkMVumu3g6ErvEKDxfIAEJPlU_aiuoQ=");
    height: auto;

    .Dropdown {
      background-color:white;
      width: 310px;
      border-radius: 5px;
      border: 1px solid;
      margin: 10px;
      height: 39px;
      padding: 0 10px;
      border: 1px solid;
      font-family: "Kanit", sans-serif;
      font-size: medium;
      color: rgb(112, 112, 112);
  }
}

input {
  border: 1px solid;
  border-radius: 5px;
  font-family: "Kanit", sans-serif;
  padding-left: 5px;
  width: 300px;
  height: 37px;
  margin: 10px;
  font-size: medium;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 900px;
  border: 1px solid;
  padding: 10px;
  margin: auto;
  padding-top: 50px;
  font-size: medium;
  height: auto;
}

table,
th {
  font-size: 21px;
  border: 1px solid;
  padding: 5px;
}

th {
  height: 30px;
  background-color: whitesmoke;
}

tr {
  height: 28px;
    background-color: rgb(255, 247, 247);
}

td {
  border: 1px solid;
  text-align: left;
  font-family: "Kanit", sans-serif;
}

.taskInp {
      padding-left: 14px;
      
}

.actions {
  width: 100px;
}

.iconss {
    text-align: center;
    background-color: rgb(255, 255, 255);

    .deadline {
      padding: 5px;
      background-color: rgba(150, 142, 142, 0.782);
      font-size:small;
      text-align: center;
      width: 100px;
    }
    .Dropdown {
      width: auto;
    }
}

.checkbx {
  width: 20px;
}
.addBtn {
    border: 1.4px solid;
  border-radius: 5px;
  background-color: rgb(51, 131, 156);
  margin-left: 10px;
  height: 41px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Kanit", sans-serif;
  color: white;
  font-size: medium;
  font-weight: bold
}

#editBtn {
  margin-left: 8px;
}

.addBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.Btn {
  cursor: pointer;
  margin-left: 4px;
}
.catHead {
  background-color: rgb(218, 131, 146);
  color: white;
  padding: 5px;
}
.catHead2 {
  background-color: rgb(118, 118, 161);
  color: white;
  padding: 5px;
}
.catHead3 {
  background-color: rgb(214, 214, 80);
  color: white;
  padding: 5px;
}
.catHead4 {
  background-color: rgb(142, 219, 151);
  color: white;
  padding: 5px;
}
#mainEditBtn {
  display: none;
}

#deleteBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#editBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}
